<div class="container">
    <div class="row login-contianer">
        <div class="col-1"></div>
        <div class="col-5 login-box">
            <h1>LOGIN</h1>
            <form [formGroup]="loginForm" id="loginForm" class="tab-pane active" (ngSubmit)="onLogin(loginForm.value)">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email" formControlName="email" [ngClass]="{ 'is-invalid': loginSubmitted && f.email.errors }" required="true">
                    <div *ngIf="loginSubmitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" formControlName="password" [ngClass]="{ 'is-invalid': loginSubmitted && f.password.errors }" required="true">
                    <div *ngIf="loginSubmitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 5 characters</div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <button type="submit" class="btn btn-primary col-3">Login</button>
                </div>
            </form>  
        </div>
        <div class="col-5 register-box">
            <h3>REGISTER</h3>
            <form [formGroup]="signupForm" id="signupForm" name="signupForm" class="tab-pane" (ngSubmit)="signUp(signupForm.value)">
                <div class="form-group">
                    <input type="text" class="form-control" [ngClass]="{ 'is-invalid': signUpSubmitted && g.name.errors }" name="name" id="name" placeholder="Name" formControlName="name" required>
                    <div *ngIf="signUpSubmitted && g.name.errors" class="invalid-feedback">
                        <div *ngIf="g.name.errors.required">Name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" [ngClass]="{ 'is-invalid': signUpSubmitted && g.email.errors }" name="email" id="email" placeholder="Email" formControlName="email" required>
                    <div *ngIf="signUpSubmitted && g.email.errors" class="invalid-feedback">
                        <div *ngIf="g.email.errors.required">Email is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" id="password"
                        placeholder="Password" formControlName="password" [ngClass]="{ 'is-invalid': signUpSubmitted && g.password.errors }" required>
                    <div *ngIf="signUpSubmitted && g.password.errors" class="invalid-feedback">
                        <div *ngIf="g.password.errors.required">Password is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="confirm_password" id="password"
                        placeholder="Repeat Password" formControlName="confirm_password" required [ngClass]="{ 'is-invalid': signUpSubmitted && g.confirm_password.errors }">
                    <div *ngIf="signUpSubmitted && g.confirm_password.errors" class="invalid-feedback">
                        <div *ngIf="g.confirm_password.errors.required">Confirm password is required</div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <button type="submit" class="btn btn-primary col-3">Signup</button>
                </div>
            </form>
        </div>
        <div class="col-1"></div>
    </div>
</div>